<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesDost"
        tools:targetApi="31">
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.FifthSemActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>

        <activity
            android:name=".ui.theme.activities.thirdyear.ThirdYearMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.others.Quiz"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.SixthSemActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.COI"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.COISecond"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.DAA"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.OOSD"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.SPM"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.BigData"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>

        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.CN"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.SE"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.sixthsem.WebTech"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.DataAnalyticsVisualization"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.DBMS"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.thirdyear.fifthsem.SoftComputing"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>

        <activity
            android:name=".ui.theme.activities.others.About"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.others.Privacy"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.others.Feedback"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpPPSLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpGraphicsLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpPhyLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpElecLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpPPS"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpEVS"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpElectrical"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpPhysics"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpMaths2"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpMaths1"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpMaths2"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpElectronics"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpElectronicsLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpWorkshopLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpMech"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpSoftSkill"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpChemistry"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemGrpChemistryLab"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhyGrpMaths1"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.others.FullView"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.chemgrp.ChemistryGroupActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.phygrp.PhysicsGroupActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.others.FourthYearMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.activities.secondyear.SecondYearMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.Automata"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.DataStructure"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.COA"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.UHV"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.DSTL"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.Java"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.Mathematics"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.MicroProcessor"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.OS"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.Python"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.secondyear.Sensors"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.firstyear.FirstYearMainActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <activity
            android:name=".ui.theme.activities.others.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.theme.activities.others.YearSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ui.theme.activities.others.MiscActivities"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>